<h1>SWAPPED</h1>
<form action="/far">
  <div class="form-group">
     <label for="far"> Enter a sentence </label>
     <input id="far" name="far" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
