<h1>SWAPPED</h1>
<form action="/result">
  <div class="form-group">
     <label for="sentence"> Enter a Sentence </label>
     <input id="sentence" name="sentence" class="form-control" type="text">

     <label for="word"> Enter a Word you Want to Replace </label>
     <input id="word" name="word" class="form-control" type="text">

     <label for="replace"> Enter a Word you Want to Replace it With </label>
     <input id="replace" name="replace" class="form-control" type="text">

  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
